.editForm {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;

    line-height: 1.6;
    grid-column: 2/-1;
}

.editForm button {
    align-self: flex-end;
}

@media (max-width: 800px) {
    .editForm {
        grid-column: 1/-1;
    }
}
