@import 'styles/base';

.form {
	display: grid;
	grid-template-columns: auto 1fr auto;
	column-gap: 1.6rem;
	row-gap: 2.4rem;
	align-items: flex-start;

	margin-top: 2.4rem;

	background-color: $white;
	border-radius: 12px;
	padding: 2.4rem;

	img {
		width: 4.8rem;
		height: 4.8rem;
	}

	@include mobile {
		grid-template-rows: auto auto;

		textarea {
			grid-row: 1;
			grid-column: span 2;
		}

		button,
		img {
			grid-row: 2;
		}

		button {
			justify-self: flex-end;
		}
	}
}
