@import 'styles/base';

.actions {
    display: flex;
    align-items: center;
    gap: 2.4rem;

    font-size: 1.6rem;

    grid-row: 1;
    grid-column: 3/-1;

    @include mobile {
        grid-row: 3;
        margin-left: auto;
    }
}
