:root {
    --fontStack: 'Rubik', sans-serif;

    --moderateBlue: hsl(238, 40%, 52%);
    --softRed: hsl(358, 79%, 66%);
    --lightGrayishBlue: hsl(239, 57%, 85%);
    --paleRed: hsl(357, 100%, 86%);

    --darkBlue: hsl(212, 24%, 26%);
    --grayishBlue: hsl(211, 10%, 45%);
    --lightGray: hsl(223, 19%, 93%);
    --veryLightGray: hsl(228, 33%, 97%);
    --white: hsl(0, 0%, 100%);
}

html {
    box-sizing: border-box;
    font-family: var(--fontStack);
    font-size: 62.5%;
}

* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-size: 1.8rem;
    background-color: var(--veryLightGray);
    color: var(--grayishBlue);
}

input,
button {
    outline: none;
    border: none;
    font: inherit;
    font-weight: 600;
    cursor: pointer;
}

.container {
    max-width: 85rem;
    margin-inline: auto;
    padding-inline: 2.4rem;

    margin-block: 3.2rem;
}

@media (max-width: 800px) {
    html {
        font-size: 50%;
    }
}
