.textarea {
    resize: none;
    outline: none;
    border: 1px solid var(--lightGrayishBlue);
    font-family: var(--fontFace);
    font-size: 1.8rem;
    color: var(--darkBlue);
    padding: 1.6rem 2.4rem;
    border-radius: 12px;
    line-height: 1.6;
    cursor: pointer;
    transition: border 0.5s ease-in-out;
}

.textarea::placeholder {
    color: var(--grayishBlue);
}

.textarea:hover,
.textarea:active,
.textarea:focus {
    border-color: var(--darkBlue);
}

.textarea::-webkit-scrollbar {
    display: none;
}
