.commentHeader {
    display: flex;
    align-items: center;
    gap: 1.8rem;
}

.usernameWrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.userImg {
    width: 4rem;
    height: 4rem;
}

.username {
    color: var(--darkBlue);
    font-weight: 600;
}

.badge {
    text-transform: lowercase;
    color: var(--white);
    background: var(--moderateBlue);
    font-size: 1.4rem;
    font-weight: 500;
    padding: 0.4rem 1rem;
    border-radius: 6px;
}

@media (max-width: 800px) {
    .commentHeader {
        grid-column: 1/-1;
    }
}
